.container{
  background-color:#f8f9ff;
  font-family: 'Ubuntu';
  padding: 50px 20px;
}

.box{
  background-color: white;
  padding: 10px 15px;
}

.box .btn-primary {
  background-color:#164f56;
  margin-bottom: 15px;
}